<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
    <div style="text-align:center">
        
          <h1 class="nav-title">
              Pan Hoi Kitchen
            </h1>
          <nav class="navbar navbar-light ">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h4 class="text-white collapse-menu">Home</h4>
                  <h4 class="text-white collapse-menu">Our Story</h4>
                  <h4 class="text-white collapse-menu">Menu</h4>
                  <h4 class="text-white collapse-menu">Contact</h4>
                  
                  <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
                </div>
              </div>
        
      </div>
  <!-- <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>


